[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

[draggable] * {
  -moz-user-drag: none;
  -khtml-user-drag: none;
  -webkit-user-drag: none;
  user-drag: none;
}

[draggable]:hover {
  cursor: move;
}

.sortable-dragging {
  opacity: .25;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}

.sortable-over {
  opacity: .25;
}

.entry-form input[type="file" i]::-webkit-file-upload-button {
  color: rgba(0, 0, 0, 0);
  background: none;
  border: none;
}

.entry-form .pageAssignment {
  width: 260px;
  min-height: 200px;
}

.entry-form .pageAssignment {
  width: 260px;
  min-height: 200px;
}

.entry-form .form-table label {
  display:block;
  width:50%;
  float:left;
}